.inner{display:table;margin: 0px auto;
	border:0px solid red; }

body{background:white url(../images/logos.gif) repeat-x;
	margin:0px; padding:0px}
.menu a:link, .menu a:visited{color:#000; text-decoration:none; 
	font-family:"Arial Black", Gadget, sans-serif; font:italic; 
	font-size:15px; margin-right:38px}
.menu a:hover, .memu a:visited{color:#F00; text-decoration:underline;
	text-align:center}
.menu_left a:link, .menu_left a:visited{color:#3C6; background:url(../images/arrow1.gif) no-repeat left;
text-decoration:none; margin:20px; padding:13px}
.menu_left a:hover, .menu_left a:visited{color:#000; background:url(../images/arrow2.gif) no-repeat left;
text-decoration:underline}



#txtSearch {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:15px;
	font-style:italic;
}

//#footer{
//	background-color:#339;
//	text-align:center;	
//	width:1050px;
//	height:35px;
//	margin-top:500px;
//	color:#F60;
//	margin-left:0px;
//}

#container >br {display:none;
			height:300px;
			
}

#menu{
	width: 1050px;
	float:left; /*display full length*/
	background:#09c;
	
}
#navMenu ul {
	width:100%;
	background:#06C;			
    font-size:15px;
    list-style: none;
	margin:0 auto;		  
	padding:0px;
	
}
#navMenu ul li {
    display: block;
    position: relative;
    float: left;
	
}
#navMenu li ul {  /*none display of submenu*/
    display: none;
}
#navMenu ul li a {
    display: block;
    text-decoration: none;
    color:#000;  /*font color #ffffff;*/
    border-right:5px solid white;	
    padding: 18px 25px 10px 26px;
    background:#0FC;
	border-radius:2px;
	font:italic;
}
#navMmenu ul li a.current{ /*Set current page*/
	background:#0909f5;
	color:white;
	}
#navMenu ul li a:hover {
	background:#C3C; /*Link menu hover*/
}
#navMenu li:hover ul {
    display: block;
    position: absolute;
	background:#3F6;	/*Link submenu hover*/
}
#navMenu li:hover li {
    float: none;
    font-size: 14px;
}
#navMenu li:hover a { background:#0F0; } 
#navMenu li:hover li a:hover {
    background:#FC0;
}


